# Indexing and Select Data

In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.DataFrame({'A': [1,2,4,5],
              'B': np.random.randint(3,size=4),
              'C': ['a', 'b', 'c', 'd']})
df

   A  B  C
0  1  2  a
1  2  2  b
2  4  1  c
3  5  2  d

In [3]:
#select by columns
df['A'] # df.A

0    1
1    2
2    4
3    5
Name: A, dtype: int64

In [4]:
#select two columns
df[['A', 'C']]

   A  C
0  1  a
1  2  b
2  4  c
3  5  d

In [5]:
# select by rows
df[0:1]

   A  B  C
0  1  2  a

## .loc vs .iloc
+ .loc: label based
+ .iloc: iteger position based

In [6]:
df.rename(index = {0: 'zero', 1:'one', 2:'two', 3:'three'}, inplace=True)
df

       A  B  C
zero   1  2  a
one    2  2  b
two    4  1  c
three  5  2  d

In [7]:
df.loc['one', 'B']

2

In [8]:
df.iloc[1, 1]

2